apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: voting-app-base

resources:
  - namespace.yaml
  - configmap.yaml
  - secrets.yaml
  # Frontend services
  - vote-deployment.yaml
  - vote-service.yaml
  - result-deployment.yaml
  - result-service.yaml
  # Backend services
  - worker-deployment.yaml
  # Database services (StatefulSets)
  - redis-statefulset.yaml
  - redis-service.yaml
  - db-statefulset.yaml
  - db-service.yaml
  # Ingress
  - ingress.yaml

commonLabels:
  app.kubernetes.io/part-of: voting-app
  app.kubernetes.io/managed-by: argocd

images:
  - name: vote
    newName: 792373136340.dkr.ecr.us-west-2.amazonaws.com/vote
    newTag: latest
  - name: result
    newName: 792373136340.dkr.ecr.us-west-2.amazonaws.com/result
    newTag: latest
  - name: worker
    newName: 792373136340.dkr.ecr.us-west-2.amazonaws.com/worker
    newTag: latest
