# QA - Testing newrelic # test 1769570373 canary analysis
apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: vote-rollout
spec:
  replicas: 4
  strategy:
    canary:
      analysis:
        args:
        - name: service-name
          value: vote
        - name: namespace
          value: voting-app-qa
        startingStep: 1
        templates:
        - templateName: http-health-check
      steps:
      - setWeight: 10
      - pause:
          duration: 1m
      - setWeight: 30
      - pause:
          duration: 1m
      - setWeight: 60
      - pause:
          duration: 1m
      - setWeight: 100
      trafficRouting:
        nginx:
          annotationPrefix: nginx.ingress.kubernetes.io
          stableIngress: voting-app
---
apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: result-rollout
spec:
  replicas: 3
  strategy:
    canary:
      analysis:
        args:
        - name: service-name
          value: result
        - name: namespace
          value: voting-app-qa
        startingStep: 1
        templates:
        - templateName: http-health-check
      steps:
      - setWeight: 10
      - pause:
          duration: 1m
      - setWeight: 30
      - pause:
          duration: 1m
      - setWeight: 60
      - pause:
          duration: 1m
      - setWeight: 100
      trafficRouting:
        nginx:
          annotationPrefix: nginx.ingress.kubernetes.io
          stableIngress: voting-app-result
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker
spec:
  replicas: 2
