name: "tmp: Test Canary"

on:
  workflow_dispatch:
    inputs:
      provider:
        description: 'Provider'
        required: true
        default: 'newrelic'

permissions:
  contents: write
  id-token: write

env:
  AWS_REGION: us-west-2

jobs:
  test:
    name: "Test ${{ inputs.provider }}"
    runs-on: ubuntu-latest
    steps:
      - name: Echo Provider
        run: |
          echo "Provider: ${{ inputs.provider }}"
          echo "## Test" >> $GITHUB_STEP_SUMMARY
          echo "Provider: **${{ inputs.provider }}**" >> $GITHUB_STEP_SUMMARY
